
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
#root {
  max-width: 1280px;
  background-color: rgb(9, 9, 44);
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
